/* .my-groups-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    font-family: "PT Serif"

}

.my-groups-box {
   border: 1px solid black;
} */

/* p {
    display: flex;
    justify-content: center;
    align-items: center;

} */

.my-group-buttons-box {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.my-groups-description {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 260px;
    width: 700px;
}

.my-group-button {
    background-color: #E86652;
    color: white;
    font-family: "PT Serif";
    font-size: 15px;
    border: none;
    height: 28px;
    width: 92;
    border-radius: 3px;
}

.my-button {
    height: 35px;
    border: none;
    font-family: "PT Serif";
    background-color: white;
    /* border: 1px solid black; */
}

.link {
    /* background-color: #f5f5f5; */
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

.link:hover {
    background-color: #E86652;
    opacity: 0.8;
    border-radius: 4px;

}

.delete {
    border-top: 1px solid #e6e6e6;
}

.delete-my-group {
    margin-left: 30px;
    width: 85px;
}

.dropdown-menu button:hover {
    background-color: #E86652;
    color: white;
}

.all-my-groups-description {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 260px;
    width: 700px;
}

.menu-container-content {
    display: flex;
    flex-direction: column;
    width: 160px;
   
}

.popup-edit-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.popup-edit-content {
    background-color: white;
    border-radius: 6px;
}

.popup-delete-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.popup-delete-content {
    background-color: white;
    border-radius: 6px;
}

.popup-button:hover {
    background-color: #E86652;
    color: white;
}



.row-menu {
    display: flex;
    flex-direction: row;
    width: 960px;
}

/* .my-groups-box {
    width: 500px;
} */

.menu-box {
    width: 100px;
    height: 100px;
    margin-left: 95px;
}

#ellipse {
    width: 28px;
    height: 28px;
}

.title-link {
    color: black;
    text-decoration: none;
    margin: 0px;
}

.title-link:hover {
    text-decoration: underline;
}

