/* .my-groups-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    font-family: "PT Serif"

}

.my-groups-box {
   border: 1px solid black;
} */

/* p {
    display: flex;
    justify-content: center;
    align-items: center;

} */

.my-group-buttons-box {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
}

.my-groups-description {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 260px;
    width: 700px;
}

.my-group-button {
    background-color: #E86652;
    color: white;
    font-family: "PT Serif";
    font-size: 15px;
    border: none;
    height: 28px;
    width: 92;
    border-radius: 3px;
}

.delete-my-group {
    margin-left: 30px;
    width: 85px;
}

.all-my-groups-description {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 260px;
    width: 700px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + .5rem);
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rbga(0, 0, 0, .1);
    opacity: 0;
    transition: opacity 150ms ease-in-out;

}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
}

.dropdown > .link:active + .dropdown-menu {
    opacity: 1;
}

.row-menu {
    display: flex;
    flex-direction: row;
    width: 960px;
}

/* .my-groups-box {
    width: 500px;
} */

.menu-box {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

