/* TODO Add site wide styles */

/* * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
} */


/* .outside-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

ul {
    list-style-type: none;
 
}


 body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100vh;
    background-color: #f5f5f5;
} 

html {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    margin: 0px;
    background-color: #E86652;
    height: 50px;
    opacity: 0.80;
    width: 100vw;
}

a {
    margin: 8px;
    color: white;

}

.demo-button {
    margin: 8px;
}


.developer-info {
    background-color: #E86652;
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    opacity: 0.75;
  }

  .developer-link {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-left: 10px;
    font-family: "PT Serif";
  }

  .information {
      margin-left: 5px;
      position: absolute;
      left: 20px;
      bottom: 10px;

  }


  .about {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100vw;
  }

  .links{
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 10px;
  }

.more-info {
    margin: 0px;
    font-family: "PT Serif";
    color: white;
    margin-right: 12px;
}


  .inside-information {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
