

.not-session-user-nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0px;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.nav-right {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 230px;
}

.nav-left {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.nav-button {
    background: none;
    border: none;
    font-family: "PT Serif";
    color: white;
    font-size: 16px;

}

.active {
    text-decoration: none;
    font-family: "PT Serif";
}

#logo {
    font-family: "Cookie";
    color: #9CAF88;
    font-size: 36px;
    text-decoration: none;
}

#right {
    text-decoration: none;
    font-size: 16px;
    font-family: "PT Serif";
}

.nav-right-main {
    margin-right: 10px;

}


