/* .session-user-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border: 1px black solid
}

.outside-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.not-session-user-nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0px;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.nav-right {
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-left {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
}