.image {
    height: 185px;
    width: 280px;
    transition: 1s ease;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

    
.image:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;

}

.groups-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #Fbfbf8;
}

.groups-box {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 100vw;
    height: 260px;
}

.group-text {
    margin-left: 40px;

}

.groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: "PT Serif";
    font-weight: bold;
    font-size: 38px;

}

.group-name {
    font-weight: normal;
}


.group-description {
    font-size: 18px;
}

