
.link-match {
    color: black
}


.search {
    position: relative;
    margin-left: 30px;
    width: 20rem;
    height: 1.8rem;
    border-radius: 4px;
    border: none;
    
    
}


.matches {
  position: absolute;
  border: 1px solid black;
  width: 20rem;
  background-color: white;
  margin-left: 30px;
  /* top: 20px; */

}

.indiv-search:hover {
  background-color: pink;
}