.single-group-container{
    margin-top: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.details-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}