.single-group-container {
    /* margin-top: 100px; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-color: #f5f5f5;
    overflow: scroll;
    /* width: 100vw;
    height: 100vh; */
}

.details-group {
    display: flex;
    /* justify-content: center; 
    align-items: center; */
    margin-left: 40px;
    flex-direction: row;
    height: 220px;
    margin-top: 20px;
    /* border-bottom: 1px solid black; */
    width: 100vw;
    /* width: 100wh; */
}

.single-text {
    margin-left: 40px;
}

.single-group-page {
    margin-top: 100px
}

.post-button {
    background-color: #E86652;
    color: white;
    font-family: "PT Serif";
    font-size: 15px;
    border: none;
    height: 28px;
    width: 92;
    border-radius: 3px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.center-post {
    display: flex;
    justify-content: center;
}


.outside-details {
    border-bottom: 1px solid black;

}