/* .my-groups-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;

}

.my-groups-box {
   border: 1px solid black;
}


.buttons-box {
    display: flex;
    flex-direction: column;
} */

/* .my-groups-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.my-groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    font-family: "PT Serif"

}

/* .my-groups-box {
   border: 1px solid black;
} */

.my-groups-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #Fbfbf8;
}

.my-groups-box {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 100vw;
    height: 260px;
}

/* .my-groups-center {
    display: flex;
    
} */

