.my-groups-container{
    background-color: #fbfbf8;
}

.my-groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    font-family: "PT Serif"

}

/* .my-groups-box {
   border: 1px solid black;
} */


.my-groups-box {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 100vw;
    height: 260px;
}

.my-groups-header {
    font-size: 38px;
}

/* .my-groups-center {
    display: flex;
    
} */

