/* .my-groups-container{
    background-color: pink;
} */

.my-groups-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    font-family: "PT Serif"

}

/* .my-groups-box {
   border: 1px solid black;
} */

.my-groups-container {
    display: flex;
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: #f5f5f5;
}

.my-groups-box {
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 100vw;
    height: 260px;
}

.my-groups-header {
    font-size: 38px;
}

.my-groups-center {
    position: relative 
}

.no-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    /* right: 10%; */
    /* width: 500px; */

}

