.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #D3D3D3;
    width: 100vw;
    /* overflow: scroll; */

}

.inside-post-image {
    border: 1px solid #e6e6e6;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 8px;
    width: 527px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.inside-post-image:hover {
    overflow: auto;
}

.post-description {
    overflow: hidden;
    width: 450px;
    margin-top: 8px;

}

.post-description:hover {
    overflow: auto;
}

/* ::-webkit-scrollbar {
    width: 10px;
  } */

.post-title {
   margin-bottom: 0px;
   display: flex;
   justify-content: flex-start;
   
}

/* .end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.centering {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
}

.delete-post {
    width: 72px;
    margin-left: 30px;
    border-radius: 3px;
}

.post-title {
    overflow: hidden;
    height: 54px;
    margin-bottom: 18px;
}

.post-title {
    overflow: auto;
}

.post-description {
    overflow: hidden;
    height: 134px;
    margin-bottom: 0;
}

.post-description:hover {
    overflow: auto;
}

.posting-image {
    height: 185px;
    width: 280px;
    /* margin-right: 50px; */
}

.first-single {
    display: flex;
    flex-direction: row;
}

.menu-box-post {
    width: 35px;
    height: 100px;
    /* display: flex;
    justify-content: flex-end; */
}

.images-box {
    width: 400px;
}

.posts-button {
    border: none;


}

.title-menu {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.posting-header {
    width: 415px;
}

.posted-by {
    font-family: "PT Serif";
    font-size: 14px;
    margin-bottom: 0;
}