.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #D3D3D3;
    width: 100vw;
    /* overflow: scroll; */

}

.inside-post-image {
    border: 1px solid #e6e6e6;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 500px;
    border-radius: 8px;
    width: 527px;
    display: flex;
    flex-direction: column;
}

/* .inside-post-image:hover {
    overflow: auto;
} */

.post-description {
    overflow: hidden;
    width: 450px;
    margin-top: 8px;

}

.post-description:hover {
    overflow: auto;
}

.post-descriptions {
    overflow: hidden;
    width: 450px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 0;

}

.post-descriptions:hover {
    overflow: auto;
}


/* ::-webkit-scrollbar {
    width: 10px;
  } */

.post-title {
   margin-bottom: 0px;
   display: flex;
   justify-content: flex-start;
   
}

/* .end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.centering {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 5%;
    width: 450px;
    height: 500px
}

.delete-post {
    width: 72px;
    margin-left: 30px;
    border-radius: 3px;
}

.post-title {
    overflow: hidden;
    height: 54px;
    margin-top: 10px;
    /* margin-bottom: 18px; */
}

.post-title {
    overflow: auto;
}

.post-description {
    overflow: hidden;
    height: 134px;
    margin-bottom: 0;
}

.post-description:hover {
    overflow: auto;
}

.posting-image {
    height: 185px;
    width: 280px;
    object-fit: contain;
    /* margin-right: 50px; */
}

.first-single {
    display: flex;
    justify-content: center;
}

.menu-box-post {
    width: 35px;
    height: 45px;
    /* display: flex;
    justify-content: flex-end; */
    margin: 0; 
}

.images-box {
    margin-top: 25px;
    width: 529px;
    display: flex;
    justify-content: center;
}

.posts-button {
    border: none;
    float: right;
    background-color: transparent;
}




.title-menu {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.posting-header {
    width: 450px;
    overflow: hidden;
}

.posting-header:hover {
    overflow: auto;
    
}

.posted-by {
    font-family: "PT Serif";
    font-size: 14px;
    margin-bottom: 0;
}

.posted-by-image {
    font-family: "PT Serif";
    font-size: 14px;
    margin-bottom: 0;
}


.ellipse {
    width: 20px;
    height: 20px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

